<!-- templates/index.html -->

{% extends '_base.html' %}

{% block content %}
  <div style="text-align:center;">
    {% if current_user.is_authenticated %}
      <h1>You are logged in as {{current_user.email}}</h1>
      <br><br>
      <a href="{{url_for('auth.logout')}}" class="btn btn-danger">Logout</a>
    {% else %}
      <!-- Reddit button starts here -->
      <a href="{{url_for('auth.login_reddit')}}"  class="btn btn-secondary">
        <i class="fa fa-reddit fa-fw"></i>
        <span>Login with Reddit</span>
      </a>
      <!-- Reddit button ends here -->
      <br/><br/>
      <!-- Twitch button starts here -->
      <a href="{{url_for('auth.login_twitch')}}"  class="btn btn-secondary">
        <i class="fa fa-twitch fa-fw"></i>
        <span>Login with Twitch</span>
      </a>
      <!-- Twitch button ends here -->
      <br/><br/>
      <!-- Google button starts here -->
      <a href="{{url_for('auth.login_google')}}"  class="btn btn-secondary">
        <i class="fa fa-google fa-fw"></i>
        <span>Login with Google</span>
      </a>
      <!-- Google button ends here -->
      <br/><br/>
      <!-- Discord button starts here -->
      <a href="{{url_for('auth.login_discord')}}"  class="btn btn-primary">
        <i class="fa fa-discord fa-fw"></i>
        <span>Login with Discord</span>
      </a>
      <!-- Discord button ends here -->
    {% endif %}
  </div>
{% endblock content %}
